/* Cool background gradient idea: https://codepen.io/redstapler/pen/LMyLxP */

:root {
  --darkPurple: #471ca8;
  --purple: #884ab2;
  --orangeLight: #ff930a;
  --orange: #f24b04;
  --pink: #d1105a;
}

@keyframes gradient {
  0% { background-position: 0% }
  100% { background-position: 100% }
}

.text-darkPurple {
  color: var(--darkPurple);
}
.text-purple {
  color: var(--purple);
}
.text-orangeLight {
  color: var(--orangeLight);
}
.text-orange {
  color: var(--orange);
}
.text-pink {
  color: var(--pink);
}

* {
  box-sizing: border-box;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #471ca8;
  background: linear-gradient(45deg, var(--darkPurple), var(--purple), var(--orange), var(--orangeLight));
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
  color: white;
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  background-size: 600% 100%;
}

p {
  color: white;
}

button {
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: #eee;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

h1 {
  font-size: 1.5rem;
}

.tracks {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.tracks .row {
  display: flex;
  gap: 3px;
}
.tracks button {
  height: 50px;
  width: 50px;
  margin-bottom: 2px;
}
.tracks button.active {
  background-color: blue;
}